# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Editor/IDE
.DS_Store
.vscode/
.idea/
*.swp

# Sistema operativo
Thumbs.db
ehthumbs.db
*.bak

# Logs
logs/
*.log

# Producción
.env
.env.local

# Tests
coverage/

# Express-generator
/public/stylesheets/style.css
