{% extends "layout.twig" %}

{% block body %}
<body>
<div class="container">
    <h1>Japobulario</h1>
    <ul>
        <li><a href="/japobulario/flashcards">Ver flashcards</a></li>
        <li><a href="/japobulario/flashcards/new">Añadir nueva tarjeta</a></li>
        <li><a href="/japobulario/study">Estudiar</a></li>
    </ul>
</div>
</body>
{%  endblock %}

