<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--link para fuente externa tipo pincel (kanji)-->
    <link href="https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap" rel="stylesheet">
    <!--bloque para poder añadir hoja para modos de estudio-->
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    {% block scripts %}{% endblock %}
  </body>
</html>
