<!-- Formulario para añadir flashcards desde la web: -->
{% extends "layout.twig" %}

{% block body %}
    <h1>Añadir nueva Flashcard</h1>
    <form action="/japobulario/flashcards/new" method="POST">
        <p>
            <label>Tipo de flashcard:<br>
                <select name="type" id="typeSelect" required>
                    <option value="kanji">Kanji</option>
                    <option value="vocabulary">Vocabulario</option>
                </select>
            </label>
        </p>
        <!--campos marcados con id para ejecutar el javascript que conmutará campos del formulario según el tipo:-->
         <div id="kanjiFields">
            <p>
                <label>Kanji:<br>
                    <input type="text" name="kanji">
                </label>
            </p>
            <p>
                <label>Lectura japonesa (kunyomi):<br>
                    <input type="text" name="kunReading">
                </label>
            </p>
            <p>
                <label>Lectura china (onyomi):<br>
                    <input type="text" name="onReading">
                </label>
            </p>
        </div>
        <p id="vocabFields">
            <label>Palabra:<br>
                <input type="text" name="word">
            </label>
        </p>
        <p>
            <label>Significado:<br>
                <input type="text" name="meaning" required>
            </label>
        </p>
        <p>
            <label>Categoría:<br>
                <input type="text" name="category">
                <!-- CAMBIAR A SELECT CUANDO SEPA LAS CATEGORÍAS-->
            </label>
        </p>
        <p>
            <label>Nivel:<br>
                <select name="level" required>
                    <option value="N5">N5</option>
                    <option value="N4">N4</option>
                </select>
            </label>
        </p>
        <button type="submit">Guardar Flashcard</button>
    </form>

    {% block scripts %}
        <!--script para conmutar campos del formulario según selección: -->
        <script>
            function toggleFields() {
                const type = document.getElementById('typeSelect').value;
                document.getElementById('kanjiFields').style.display = type === 'kanji' ? 'block' : 'none';
                document.getElementById('vocabFields').style.display = type === 'vocabulary' ? 'block' : 'none';
            }

            document.addEventListener('DOMContentLoaded', () => {
                document.getElementById('typeSelect').addEventListener('change', toggleFields);
                toggleFields(); // Ejecuta en la carga inicial
            });
        </script>
    {% endblock %}

{% endblock %}




