<div id="kanjiFields">
    <p>
        <label>Kanji:<br>
            <input type="text" name="kanji">
        </label>
    </p>
    <p>
        <label>Lectura japonesa (kunyomi):<br>
            <input type="text" name="kunReading">
        </label>
    </p>
    <p>
        <label>Lectura china (onyomi):<br>
            <input type="text" name="onReading">
        </label>
    </p>
</div>
